h1{

text-align:center;

margin-top:30px;

}

p{

text-align:center;

}

.stats{

display:flex;

justify-content:center;

gap:30px;

margin-top:40px;

}

.stats div{

padding:20px;

width:180px;

background:#eeeeee;

text-align:center;

border-radius:10px;

box-shadow:0 2px 8px gray;

}